
.exhibition {
    width: 80%;
    margin: 0 auto;
    background: white;
    font-size: x-large;
}

.exhibition-item {
    cursor: pointer;
}

.exhibition-item-cover:hover {
    text-decoration: underline;
}