.exhibit-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.exhibit-bar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 80%;
    width: 100%;
    margin-top: 30px;
}
